@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.subreddit-row.removing {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;;
}

.post-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 15px;
}

/* Landscape images */
.post-image-container.landscape {
  max-width: 700px;
  width: 100%;
  max-height: 500px;
}

/* Portrait images */
.post-image-container.portrait {
  max-height: 700px;
  max-width: 500px;
  width: auto;
}

/* The image itself */
.post-image-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;  
}
